html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
}

h1 {
  font-size: 20rem;
  color: red;
}

.navbar {
  display: flex;
  margin: 2rem 2rem;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  font-size: 3.5rem;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    a {
      list-style: none;
      text-decoration: none;

      li {
        border: 1px solid black;
        padding: 1rem;
        border-radius: 5px;
        color: black;
        margin-top: 1.5rem;

        min-width: 30rem;
      }

      li:hover {
        background-color: black;
        color: white;
      }
    }
  }

  a:not(:first-child) {
    margin-left: 1rem;
  }
}

$purple: #24243e;
$purple-light: #302b63;
$purple-2: #0f0c29;
