html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

$purple: #24243e;
$purple-light: #302b63;
$purple-2: #0f0c29;

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;

  background: white;
}

//? loader

.loader1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($color: rgb(255, 255, 255), $alpha: 0.8);

  img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.title {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;

  .title-container {
    h1 {
      // color: #302b63;
      color: black;
      font-size: 5rem;
    }

    p {
      margin-top: 1rem;
      font-size: 3rem;
      color: black;

      span {
        color: rgba(54, 132, 150, 0.3);
        font-weight: bold;
      }
    }
  }
}

.container {
  text-align: center;
  margin: 3rem;

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;

    justify-items: center;
    align-items: center;

    .card {
      height: auto;
      width: 25rem;

      box-shadow: inset 0 20px 4px -19px rgba(43, 106, 120, 0.4),
        0 12px 12px 0 rgba(54, 132, 150, 0.3);

      // border-bottom-left-radius: 1rem;
      // border-bottom-right-radius: 1rem;

      .text-container {
        padding: 2rem;
        color: black;

        background-color: #ffffff;

        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        p {
          color: black;
          font-size: 1.5rem;
        }

        h1 {
          font-weight: 300;
        }
      }

      img {
        display: block;
        width: 100%;
        height: 20rem;
        object-fit: cover;

        // border-top-left-radius: 2rem;
        // border-top-right-radius: 2rem;
      }

      a {
        display: inline-block;
        font-size: 2rem;
        font-weight: 300;
        margin-top: 2rem;
        padding: 1rem;
        text-decoration: none;

        border-bottom: 2px solid lighten(#368496, 40%);
        border-top: 2px solid lighten(#368496, 40%);

        border-radius: 5px;
        width: 100%;
        color: black;
        background: rgba(54, 132, 150, 0.3);
      }

      a:hover {
        button:active {
          transform: translateY(3px);
          box-shadow: 0 6px 6px 0 rgba(200, 146, 148, 0.3);
        }
      }

      a:active {
        transform: translate(0, 0.3rem);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 1px;
      }

      p {
        margin-top: 1rem;
      }
      &--0 {
      }
    }
  }
}
