html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  color: blue;
}
