html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button {
  border: none;
}

:root {
  --primaryColor: #fff;
}

body {
  @import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500&display=swap");
  font-family: "Spartan", sans-serif;

  margin: 0;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  align-items: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.site-wrapper {
  overflow: hidden;
}

/* Video Background */
.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
}

video {
  object-fit: fill;
  height: 100vh;
  width: 100vw;
}

.video-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba($color: white, $alpha: 0.4);
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 60vw;
  height: 55vh;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  padding: 25px 50px;
  border-radius: 5px;
  z-index: 2;

  background: rgba($color: rgb(0, 0, 0), $alpha: 65%);
  border-radius: 1rem;

  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.input-container {
  position: relative;
  font-size: 1.5rem;
  text-transform: capitalize;
}

h1 {
  font-size: 35px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

/* Form */
.form {
  width: 100%;
}

label {
  font-weight: bold;
  margin-left: 10px;
}

input {
  width: 95%;
  margin-bottom: 10px;
  margin-top: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: #fff;
  outline: none;

  font-family: "Spartan", sans-serif;
}

/* Button */
button {
  width: 95%;
  height: 40px;
  border-radius: 20px;
  margin-top: 15px;
  border: none;
  text-transform: uppercase;
  background: #03b44d;
  color: white;
  cursor: pointer;
  transition: filter 0.3s ease;

  &:hover {
    filter: brightness(90%);
  }
}

/* Countdown */

.countdown {
}
.cd-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

li {
  font-size: 30px;
  list-style-type: none;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}

li span {
  display: block;
  font-size: 80px;
  text-align: center;
}

/* Complete */
.complete {
}

.cd-con2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.complete-title {
  animation: complete 4s infinite;
}

@keyframes complete {
  0% {
    color: rgb(202, 18, 18);
  }

  25% {
    color: rgb(235, 243, 11);
  }

  50% {
    color: rgb(17, 231, 53);
    transform: scale(1.5);
  }

  75% {
    color: rgb(18, 196, 202);
  }

  100% {
    color: rgb(202, 18, 162);
  }
}

@media (max-width: 1012px) {
  ul {
    li {
      font-size: 1rem;

      span {
        font-size: 7rem;
      }
    }
  }
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 600px) {
  .video-background {
    height: 100vh;
    width: 100vw;
  }

  video {
    object-fit: cover;
  }

  .container {
    width: 90vw;
    height: 55vh;
  }

  .input-container {
    top: unset;
  }

  .countdown {
    position: relative;
    top: 10px;
  }

  .form {
    width: unset;
  }

  input {
    width: 93%;
  }

  h1 {
    font-size: 2.5rem;
  }

  li {
    font-size: 15px;
  }

  ul li span {
    font-size: 5rem;
  }
}
