html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button {
  border: none;
}

:root {
  --primaryColor: #fff;
  --navColor1: #edb703;
  --navColor2: #530ea2;
  --navColor3: #ffda5f;
  --navColor4: #2119a7;
  --navColor5: #efde02;
}

.site-wrapper {
  position: relative;
  overflow-x: hidden;
  background-image: url(/dbz-music-player/img/bg.jpeg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;

  height: 100vh;
  width: 100vw;
}

.overlay {
  position: absolute;
  z-index: 1;
  background: white;
  opacity: 0.95;

  height: 100vh;
  width: 100vw;
}

.main-content {
  position: relative;
  z-index: 2;
}
