html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button {
  border: none;
}

:root {
  --primaryColor: #fff;
  --navColor1: #edb703;
  --navColor2: #530ea2;
  --navColor3: #ffda5f;
  --navColor4: #2119a7;
  --navColor5: red;
}

.site-wrapper {
  position: relative;
  overflow-x: hidden;
  background-image: url(/dbz-music-player/img/bg.jpeg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;

  height: 100vh;
  width: 100vw;
}

.overlay {
  position: absolute;
  z-index: 1;
  background: white;
  opacity: 0.95;

  height: 100vh;
  width: 100vw;
}

.main-content {
  position: relative;
  z-index: 2;

  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;
}

.img-container {
  position: relative;
  top: -50px;
  left: 50px;
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  /* change this to show progress */
  width: 66%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  top: -15px;
  left: 120px;
  width: 200px;
}

.fas {
  font-size: 30px;
  color: rgb(129, 129, 129);
  margin-right: 30px;
}

.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .img-container {
    left: 29px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 100px;
  }
}
